*{
    margin: 0px;
    padding: 0px;

}
/* Headre */
.head {
    display: flex;
    background: #0B0B0B;
border-radius: 0px;
padding: 22px 0px ;
}
.headr-left {
    display: flex;
    justify-content: space-around;
    margin-left: 34px;
}
.headr-left ul {
    display: flex;
    justify-content: space-between;
}
.headr-left li {
    margin: 0px 25px;
    list-style: none;
}
.headr-left img {
    margin-right: 40px;
    margin-left: 35px;
}
.headr-left a{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 13px;
letter-spacing: 1.04px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}
.hedr-rig ul {
    display: flex;
margin-left: 200px;
}
.hedr-rig li{
    list-style: none;
display: flex;
align-items: center;
padding: 0px 15px ;
}
.hedr-rig a{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    
}
#aa{
    width: 141px;
height: 13px;
margin-top: 5px;
}
/* Section 1 */
.sektion1 {
    background: url(./img/IMAGE.jpg);
border-radius: 0px;
background-repeat: repeat;
}
.cont1 h1{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 115px;
line-height: 120px;
text-align: center;
color: #FFFFFF;
padding-top: 120px;
}
.cont1 p {
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #0B0B0B;
padding-top: 86px;
padding-bottom: 146px;
}
/* Section 2 */
.section2 {
    display: flex;
}
.cont-l2 {
    background: #4A00FF;
border-radius: 0px;
width: 640px;
padding-top: 222px;
padding-left: 112PX;
}
.cont-l2 h1{
    padding-bottom: 28px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
text-transform: uppercase;
color: #FFFFFF;
width: 333px;
height: 132px;
}
.cont-l2 p {
    padding-bottom: 38px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
width: 416px;
height: 68px;

}
.cont-l2 button{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
background: #0B0B0B;
border-radius: 9999px;
color: #FFFFFF;
width: 145px;
height: 35px;
}
.cont-r2 {
background: #0B0B0B;
border-radius: 0px;
width: 800px;
height: 740px;

}
.cont-r2 h1 {
    padding-top: 293px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 110px;
line-height: 154px;
text-align: center;
color: #FFFFFF;
}
/* Section 3 */
.section3 {
    display: flex;
}
.cont-l3 {
    background: #0B0B0B;
border-radius: 0px;
width: 740px;
height: 740px;
}
.cont-l3 h1{
    padding-top: 293px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 154px;
    text-align: center;
    color: #FFFFFF;
}
.cont-r3 {
    background: #00FF9D;
border-radius: 0px;
width: 640px;
height: 520px;
padding-top: 220px;
padding-left: 112px;
}
.cont-r3  h1{
    padding-bottom: 28px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
text-transform: uppercase;
color: #FFFFFF;
width: 333px;
height: 132px;
}
.cont-r3 p {
    padding-bottom: 73px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
width: 416px;
height: 68px;

}
.cont-r3 button{
    margin-top: 37px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
background: #0B0B0B;
border-radius: 9999px;
color: #FFFFFF;
width: 145px;
height: 35px;
}
/* Section 4 */

.section4 {
    display: flex;
}
.cont-l4 {
    background: #FF8B00;
    border-radius: 0px;
width: 640px;
padding-top: 222px;
padding-left: 112PX;
}
.cont-l4 h1{
    padding-bottom: 28px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
text-transform: uppercase;
color: #FFFFFF;
width: 333px;
height: 132px;
}
.cont-l4 p {
    padding-bottom: 38px;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
width: 416px;
height: 68px;

}
.cont-l4 button{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
background: #0B0B0B;
border-radius: 9999px;
color: #FFFFFF;
width: 229px;
height: 35px;
}
.cont-r4 {
background: #0B0B0B;
border-radius: 0px;
width: 800px;
height: 740px;

}
.cont-r4 h1 {
    padding-top: 293px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 110px;
line-height: 154px;
text-align: center;
color: #FFFFFF;
}
/* Section 4 */
.section5 {
    background: #0B0B0B;
border-radius: 0px;
}
.content5 h2{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 68px;
line-height: 72px;
text-align: center;
color: #FFFFFF;
}
.card-container {
    display: flex;
    justify-content:space-evenly; 
   margin-top: 60px;
   padding-bottom: 180px;
}
.card1 {
    background: url(./img/IMAGE1.jpg);
    background-repeat: no-repeat;
    width: 450px;
    height: 600px;
border-radius: 0px;
margin-left: 10px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card1 h1,p{
    margin: 0px 32px;
}
.card1 h1{
margin-top: 429px;
margin-bottom: 14px;

font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
color: #FFFFFF;
}
.card1 p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.card2 {
    background: url(./img/IMAGE2.jpg);
    width: 450px;
    height: 600px;
border-radius: 0px;
margin-left: 24px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card2 h1,p{
    margin: 0px 32px;
}
.card2 h1{
margin-top: 429px;
margin-bottom: 14px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
color: #FFFFFF;
}
.card2 p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.card3 {
    background: url(./img/IMAGE3.jpg);
    width: 450px;
    height: 600px;
border-radius: 0px;
margin-left: 24px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card3 h1,p{
    margin: 0px 32px;
}
.card3 h1{
margin-top: 429px;
margin-bottom: 14px;

font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 44px;
color: #FFFFFF;
}
.card3 p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.card1:hover {
    transform: scale(1.1) translate(20px);
    border-radius: 30px;
}
.card2:hover{
    transform: scale(1.1) translate(20px);
    border-radius: 30px;
}
.card3:hover{
    transform: scale(1.1) translate(-20px);
    border-radius: 30px;
}
/* Section 6 */
.firt h1{
margin-top: 31px;
margin-left: 24px;
margin-bottom: 23px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 31px;
text-transform: uppercase;
color: #0B0B0B;
}
.con6-bot {
    display: block; 
}
.dd li{
    list-style: none;
    

}
#aa1{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-transform: uppercase;
color: #0B0B0B;
margin-left: 25px;
}
#ss{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: right;
text-transform: uppercase;

color: #0B0B0B;
}
.dd2 li{
    list-style: none;
    
}
.dd3 li{
    list-style: none;
    
}
.dd4 li{
    list-style: none;
    
}
.dd5 li{
    list-style: none;
    
}
.dd6 li{
    list-style: none;
    
}
.dd7 li{
    list-style: none;
    
}
.dd8 li{
    list-style: none;
    
}
.dd9 li{
    list-style: none;
    
}
.dd10 li{
    list-style: none;
    
}
.dd11 li{
    list-style: none;
    
}
.dd12 li{
    list-style: none;
    
}
.dd13 li{
    list-style: none;
    
}
.dd14 li{
    list-style: none;
    
}
.dd {
    display: flex;
    justify-content: space-between;
}
.dd2 {
    display: flex;
    justify-content: space-between;
}
.dd3 {
        display: flex;
    justify-content: space-between;
}
.dd4 {
        display: flex;
    justify-content: space-between;
}
.dd5 {
        display: flex;
    justify-content: space-between;
}
.dd6 {
        display: flex;
    justify-content: space-between;
}
.dd7 {
        display: flex;
    justify-content: space-between;
}
.dd8 {
        display: flex;
    justify-content: space-between;
}
.dd9 {
        display: flex;
    justify-content: space-between;
}
.dd10 {
        display: flex;
    justify-content: space-between;
}
.dd11 {
        display: flex;
    justify-content: space-between;
}
.dd12 {
        display: flex;
    justify-content: space-between;
}
.dd13 {
        display: flex;
    justify-content: space-between;
}
.dd14 {
        display: flex;
    justify-content: space-between;
}
#gg{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
color: #0B0B0B;
}
/* Last */
.last-cont {
background: #0B0B0B;
border-radius: 0px;
}
.last-cont h1{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 72px;
text-align: center;
padding:59px 0px 56px;
color: #FFFFFF;
}
.last-cont button {
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
background: #FFFF02;
border-radius: 9999px;
text-align: center;
width: 145px;
height: 35px;
color: #0B0B0B;
margin: 0px 566px ;
}