*,
*::befor,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

[class*='__container'] {
	max-width: 1050px;
	margin: 0px auto;
}
a:hover {
	color: #7c0f0f;
}
/* Header */
.header {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.img {
	width: 100px;
}
.ul ul {
	display: flex;
	flex-wrap: wrap-reverse;
}
.ul li {
	list-style: none;
	margin: 0px 30px;
}
.ul a {
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #222222;
	text-align: center;
}
.ul a:hover {
	color: #7c0f0f;
}
#is {
	transition: color 0.2s ease-in-out;
}
#is:hover {
	color: #f55253;
}
.poisk {
	display: flex;
}
.poisk input {
	border: #ffffff;
	border-radius: 23px;
	background: #ffffff;
}
/* Section 1 */
.container {
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.centr {
	display: block;
}
.content4 {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
}
.content-centr {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.button button {
	border: #fdecec;
	margin-top: 130px;
	margin-left: 130px;
	width: 214px;
	height: 46px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #f55556;
	background: #fdecec;
	border-radius: 23px;
	filter: drop-shadow(0px 12px 20px rgba(224, 25, 35, 0.2));
}
.text h1 {
	margin-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 88px;
	letter-spacing: -0.01em;
	color: #2e2e2e;
	width: 450px;
	height: 264px;
}
.text p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.005em;
	color: #676767;
}

.button2 button {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #545454;
	border: 1.5px solid #f86061;
	border-radius: 12px;
	width: 201px;
	height: 70px;
}
.button2 button:hover {
	background-color: #f86061;
}
/* Section 2 */
.main {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	background: #fef5f5;
}
.container {
	display: block;
}
.headr p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #f54748;
}
.headr h1 {
	margin-top: 8px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	text-align: center;
	text-transform: capitalize;
	color: #2e2e2e;
}
.container-card {
	margin-top: 153px;
	display: flex;
}
.img6 img {
	width: 408px;
	height: 612px;
}
.img-card {
	margin-bottom: 68px;
	margin-right: 108px;
	display: flex;
}

.card-section_1 {
	box-shadow: 5px 3px 10px rgb(0, 0, 0, 0.4);
	margin: 30px 15px;
	margin-top: 15px;
	padding: 50px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-section_2 {
	box-shadow: 5px 3px 10px rgb(0, 0, 0, 0.4);
	margin: 30px 15px;
	margin-top: 15px;
	padding: 30px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	perspective-origin: 300px;
	perspective-origin: center;
	transform-style: preserve-3d;
}
.card-section_3 {
	box-shadow: 5px 3px 10px rgb(0, 0, 0, 0.4);
	margin: 30px 15px;
	margin-top: 15px;
	padding: 30px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-section_1 h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #2e2e2e;
}
.card-section_2 h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #2e2e2e;
}
.card-section_3 h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #2e2e2e;
}
.card-section_1 p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #676767;
}
.card-section_2 p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #676767;
}
.card-section_3 p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #676767;
}
.card-section_1:hover {
	transform: translate(-20px) scale(1);
	border-radius: 30px;
}
.card-section_2:hover {
	transform: translate(-30px) scale(1);
	border-radius: 30px;
}

.card4 {
	transform-origin: top left;
	backface-visibility: hidden;
	background: #fe6a6a;
}
.card-section_3:hover {
	transform: translate(-40px) scale(1);
	border-radius: 30px;
}
.card {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 265px;
}
.card2 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: 130px;
}
.textcr {
	display: block;
	background: #ffffff;
	box-shadow: 0px 60px 100px -10px rgba(86, 0, 0, 0.08);
	border-radius: 12px;
}
.textcr p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #a5a4a4;
}
.textcr h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #2e2e2e;
}
.textcr h5 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #2e2e2e;
	margin-top: 50px;
}
/* Section 3 */
.img7 img {
	display: block;
}
.textcard h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #03a66b;
}
.textcard h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 54px;
	text-transform: capitalize;
	color: #2e2e2e;
}
.textcard p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #676767;
}
.textcard {
	margin-left: -220px;
}
.textcr {
	margin-top: 200px;
	margin-right: 300px;
	background: #ffffff;
	box-shadow: 0px 60px 100px -10px rgba(86, 0, 0, 0.08);
	border-radius: 12px;
}
.textcard button {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #545454;
	border: 1.5px solid #f86061;
	border-radius: 12px;
	width: 201px;
	height: 70px;
}
.textcard button:hover {
	background-color: #f86061;
}
.textcard h1,
h2,
p,
button {
	margin: 35px;
}
.textcr {
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	max-height: 290px;
}
.textcr:hover {
	transform: translate(-40px) scale(1);
	border: 100%;
}
/* Section 4 */
.content34-section {
	display: flex;
	margin-top: 233px;
}
.content-left h3,
h1,
p {
	margin: 30px;
}
.content-left h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #f9ba45;
}
.content-left h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	text-transform: capitalize;
	color: #2e2e2e;
	width: 519px;
	height: 108px;
}
.content-left p {
	width: 465px;
	height: 90px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #676767;
}
.content-left button {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #545454;
	border: 1.5px solid #f86061;
	border-radius: 12px;
	width: 201px;
	height: 70px;
}
.content-left button:hover {
	background-color: #f86061;
}
.content-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
#content-right-img {
	margin-left: -40px;
}
.card-img6 {
	width: 166px;
	height: 226px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	margin-top: 280px;
	margin-left: -100px;
	background: #ffffff;
	box-shadow: 0px 40px 100px -25px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
}
.card-img6 h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #2e2e2e;
}
.card-img6 p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #676767;
}
.card-img6:hover {
	transform: scale(1.1);
	border-radius: 12px;
}
/* Section 5 */
.section5 {
	background: #fef5f5;
}
.conten-section6 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-sek5-left {
	margin: 160px 0px 40px 40px;
}

.content-sek5-right {
	margin-top: 197px;
	margin-left: 185px;
}
.content-sek5-right h6 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #f54748;
}
.content-sek5-right h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	text-transform: capitalize;
	color: #2e2e2e;
}
.content-sek5-right p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #676767;
}
.content-sek5-right button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #2e2e2e;
	border: 1.5px solid #eedcdc;
	border-radius: 12px;
	background-color: inherit;
	box-sizing: border-box;
	width: 208px;
	height: 80px;
}
.content-sek5-right button:hover {
	background-color: #f86061;
}

#ww {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#qq {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.butt {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/* Section 6 */
.conten6-section {
	display: flex;
	justify-content: space-around;
	margin-left: 135px;
	margin-top: 137px;
}
.kolonka1 {
	display: block;
	align-items: center;
}
.kolonka1 p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #676767;
	width: 266px;
	margin-top: 7px;
}
.kolonka2 li {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #676767;
	list-style: none;
}
.kolonka3 li {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #676767;
	list-style: none;
	text-decoration: none;
}
.kolonka3 a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #676767;
	list-style: none;
	text-decoration: none;
}
.kolonka2 a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #676767;
	text-decoration: none;
}
.kolonka4 p {
	width: 191px;
	height: 78px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #888888;
	margin-left: -20px;
	margin-bottom: 10px;
}
.kolonka4 h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #2e2e2e;
}
.kolonka4 {
	display: block;
}
