*{
    margin: 0px;
    padding: 0px;
}

.headr {
    background: #1967D2;
border-radius: 0px;
}
.headr h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
padding: 17px 0px 22px 0px;
}
.contheadr-l ul{
    display: flex;
    margin: 17px 0px 15px 20px;
}
.contheadr-l li{
    list-style: none;
    margin: 0px 20px;
}
.contheadr-l a{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
text-decoration: none;
width: 41px;
height: 20px;
color: #3C4043;
}
.containerhed {
    display: flex;
    padding: 15px 0px 20px 0px;
}

.contheadr-r ul{
    display: flex;
    margin: 17px 0px 15px 190px;
}
.contheadr-r li {
    list-style: none;
    margin: 0px 24px;
}
/* Section 1 */
.section1 {
    background: url(./img/IMAGE.jpg);
    border-radius: 0px;
}
.con-section1{
    padding: 164px 0px 22px 129px;
}
.con-section1 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 57px;
line-height: 68px;
letter-spacing: 2px;
color: #3C4043;
padding-bottom: 22px;    
}
.con-section1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
margin-bottom: 22px;
}
.button-sek1 {
    display: flex;
    margin-bottom: 230px;
}
.button-sek1 button{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #3C4043;
border: 2px solid #3C4043;
border-radius: 4px;
background-color: transparent;
width: 143px;
height: 40px;
margin-right: 44px;
}
.button-sek1c p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #3C4043;
}
/* Section 2 */
.section2 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #3C4043;
padding-top: 79px;
padding-bottom: 90px;
}

.cont2-card {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 190px;
}
.crd-1 {
    background: url(./img/IMAGE1.jpg);
    width: 183px;
height: 214px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.crd-2 {
    background: url(./img/IMAGE2.jpg);
    width: 183px;
height: 214px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.crd-3 {
    background: url(./img/IMAGE3.jpg);
    width: 183px;
height: 214px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.crd-4 {
    background: url(./img/IMAGE4.jpg);
    width: 183px;
height: 214px;  
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.crd-5 {
    background: url(./img/IMAGE5.svg);
    width: 183px;
height: 214px;
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.crd-1 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
margin-top:-70px;
color: #1967D2;
}
.crd-2 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
margin-top:-70px;
color: #1967D2;
}
.crd-3 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
margin-top:-70px;
line-height: 18px;
text-align: center;
color: #1967D2;
}
.crd-4 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
margin-top:-70px;
line-height: 18px;
text-align: center;
color: #1967D2;
}
.crd-5 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
margin-top:-70px;
line-height: 18px;
text-align: center;
color: #1967D2;
}
.crd-1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-top:200px;
padding-left: 20px;
}
.crd-2 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-top:200px;
padding-left: 20px;
}
.crd-3 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-top:200px;
padding-left: 20px;
}
.crd-4 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-top:200px;
padding-left: 20px;
}
.crd-5 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-top:200px;
padding-left: 20px;

}
.crd-1:hover{
    transform: scale(1.1);
}
.crd-2:hover{
    transform: scale(1.1);
}
.crd-3:hover{
    transform: scale(1.1);
}
.crd-4:hover{
    transform: scale(1.1);
}
.crd-5:hover{
    transform: scale(1.1);
}
/* Section 3 */
.cont3-1 {
    display: flex;
}

.cont3-l {
    background: url(./img/IMAGE6.jpg);
    width: 800px;
height: 616px;
}
.cont3-r {
    background: #F8F9FA;
border-radius: 28px;
padding-left: 117px;
padding-top: 194px;
}

.cont3-r h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding-bottom: 26px;
    color: #3C4043;
    width: 315px;
height: 120px;
}
.cont3-r p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #3C4043;
padding-bottom: 30px;
}
.cont3-r a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #1967D2;
text-decoration: none;
}
/* Section 4 */
.card4-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.card4-1 {
border-radius: 28px;
background:#E9E3DB ;
transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 395px;
height: 692px;
}

.card4-2 { 
border-radius: 28px;
background:#E9E3DB; 
transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 395px;
height: 692px;
}
.card4-3 {
border-radius: 28px;
background: #E9E3DB;
transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 395px;
height: 692px;


}
.card4-1 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
margin-bottom: 20px;
text-align: center;
letter-spacing: 0.5px;

color: #3C4043;

}
.card4-2 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: 0.5px;
margin-bottom: 20px;
color: #3C4043;

}
.card4-3 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: 0.5px;
margin-bottom: 20px;
color: #3C4043;

}
.card4-1 p{
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;

color: #3C4043;
}
.card4-2 p{
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;

color: #3C4043;
}
.card4-3 p{
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;

color: #3C4043;
}
.card4-1 a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
text-decoration: none;
color: #202124;
border: 2px solid #5F6368;
margin-left: 150px;
margin-bottom: 28px;

}
.card4-2 a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
text-decoration: none;
color: #202124;
border: 2px solid #5F6368;
margin-left: 150px;
margin-bottom: 28px;

}
.card4-2 img {
    margin-top: 20px;
}
.card4-3 a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #202124;
border: 2px solid #5F6368;
margin-left: 100px;
border-radius: 4px;
text-decoration: none;
margin-left: 150px;
margin-bottom: 28px;
}
.card4-3 img{
    margin-top: 20px;
}
.card4-1 img{
    margin-top: 20px;
}
.card4-1:hover{
    transform: scale(0.9);
}
.card4-2:hover{
    transform: scale(0.9);
}.card4-3:hover {
    transform:translate(-30px) scale(0.9);
}
.card4-4sek {
    margin-top: 24px;
    display: flex;
margin: 120px 0px
}
.card4-left {
    background: #D6E2DB;
border-radius: 28px;
margin: 0px 35px;
transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.card4-rigtht {
    background: #EFDDCD;
border-radius: 28px;
margin: 0px 25px;
transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.card4-left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    
    color: #3C4043;
    
}
.card4-left h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: 0.5px;
color: #3C4043;
  padding: 100px;
}
.card4-left a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration: none;
text-align: center;
border: 2px solid #5F6368;
border-radius: 4px;
color: #202124;
background-color: transparent;
margin-left: 250px;
}
.card4-left img{
    margin-top: 139px;

}
.card4-rigtht p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;

color: #3C4043;
}
.card4-rigtht h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: 0.5px;
color: #3C4043;
width: 331px;
height: 144px;
padding: 90px 0px 60px 200px;
}
.card4-rigtht a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration: none;
text-align: center;
border: 2px solid #5F6368;
border-radius: 4px;
color: #202124;
background-color: transparent;
margin-left: 300px;
}
.card4-rigtht img{
    margin-top: 139px;
}
.card4-left:hover {
    transform: scale(1.1);

    
}
.card4-rigtht:hover {
    transform: scale(1.1) translate(-30px);

    
}
/* Section 5 */
.text5 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px; 
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 43px;
    color: #3C4043;
}
.card5-conta {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 167px;
}

.card5 {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card5 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.25px;

color: #1967D2;
}

.card5:hover{
    transform: scale(1.2);
}
.card5-1cont {
    margin-top: 24px;
    display: flex;
 justify-content: space-around;
}
.card5-1l {
    background: #F3F2F1;
border-radius: 28px;
margin: 0px 25px;
transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card5-1l p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #3C4043;
}
.card5-1l h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: 0.5px;
color: #3C4043;
padding: 100px 0px 200px;
}
.card5-1l a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration: none;
text-align: center;
border: 2px solid #5F6368;
border-radius: 4px;
color: #202124;
background-color: transparent;
margin-left: 250px;
}
.card5-1l img{
    margin-top: 139px;
}
.card5-1r {
    background: #E7EBEE;
border-radius: 28px;
margin: 0px 25px;
transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card5-1r p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    
    color: #3C4043;
}
.card5-1r h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3C4043;
    width: 331px;
    height: 144px;
    margin: 0px 0px 0px 80px;
    padding: 100px 100px 120px; 
}
.card5-1r a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #5F6368;
    border-radius: 4px;
    color: #202124;
    background-color: transparent;
    margin-left: 250px;
}
.card5-1r img{
    margin-top: 139px;
}
.card5-1l:hover{
    transform: scale(0.9);
    border-radius: 15px;

}
.card5-1r:hover{
    transform: scale(0.9);
    border-radius: 30px;
}
/* Section 6 */
.section6 {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.cont6-lef {
    margin-left: 24px;
}
.content6 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
padding-bottom: 29px;
letter-spacing: 0.5px;

color: #3C4043;
}

.content6 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3C4043;
    padding-bottom: 30px;
}
.content6 button{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
border: 2px solid #3C4043;
border-radius: 4px;
background-color: transparent;
text-align: center;
width: 128px;
height: 40px;
color: #3C4043;

}
.content6 {
    padding: 169px 129px;
}
/* Section 7 */
.cont7 img{
    margin: 64px 0px 20px 620px;
}
.cont7 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
text-align: center;
letter-spacing: 0.5px;
color: #3C4043;
padding-left: 350px;
padding-bottom: 42px;
width: 580px;
height: 80px;
}
.cont7 a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #5F6368;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    color: #202124;
    margin-left: 556px;
    margin-bottom: 28px;
    display: block;
    width: 174px;
height: 24px;
}
.cont7 b{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
padding-top: 28px;
padding-left: 560px;
color: #1967D2;
}
.cont7 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
padding: 118px 24px 22px;
color: #3C4043;
}
/* Footer */
.fu{
    margin-bottom: 19px;
}
.footer  {
    display: flex;
    align-items: flex-start;
    margin: 96px 96px 71px 840px;

}
#twoo{
    margin: 0px 0px 0px 100px;

}
.footer li {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
list-style: none;
color: #3C4043;
margin: 24px 0px;
}

.social {
margin-left: 90px;
}
.social img{
margin:0px 22px 17px;
}
.social ul{
display: flex;
margin-top: -40px;
padding-left: 600px;
}
.social li {
    display: flex;
        margin: 0px 10px;
        font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
color: #423F3F;
        
}